@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">

        <div class="col-lg-4 col-sm-12 mb-4">
            <div class="card border-none">
                <div class="card-image">
                    <img src="images/post-item1.jpg" alt="" class="img-fluid">
                </div>
                <div class="card-body text-uppercase">
                    <div class="card-meta text-muted">
                        <span class="meta-date">feb 22, 2023</span>
                        <span class="meta-category">- Gadgets</span>
                    </div>
                    <h3 class="card-title">
                        <a href="#">Get some cool gadgets in 2023</a>
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>